
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1343px;
    height: 1380px;
    border: 1px solid #000000;
}
header{
    width: 1342px;
    height: 90px;
}
nav{
    width: 1342px;
    height: 90px;
    display: flex;
    background-color: #0c0b0b;
}
.imag{
    width: 180px;
    height: 127px;
    overflow: hidden;    
    margin: -37px 60px;
}
.image{
    width: 165px;
    height: 76px;
}
.anchor{
    width: 280px;
    height: 20px;
    display: flex;
    margin: 33px 0px 0px 350px;
    text-align: right;
    justify-content: space-between;
}
a{
    color: #ffffff;
    font: 1.0rem 'Franklin Gothic Medium', 'Arial Narrow';
    text-decoration: none;
    transition: all 1s;
    cursor: pointer;
}
a:hover{
    color: #d8d6d6;
}
.get{
    width: 160px;
    height: 50px;
    margin: 14px 0px 0px 40px;
    padding: 15px 24px;
    border-radius: 40px;
    color: #ffffff;
    cursor: pointer;
    transition: all 1s;
    font: 0.9rem 'Franklin Gothic Medium', 'Arial Narrow';
    border: 1px solid #ffffff;
}
.get:hover{
    color: #000000;
    background-color: #353434;
}
.order-online{
    width: 160px;
    height: 52px;
    margin: 14px 0px 0px 17px;
    border-radius: 40px;
    display: flex;
    transition: all 1s;
    border: 1px solid  #ff1433;
    background-color: #ff1433;
}
.order-online:hover{
background-color: #fd5d72;
}
.order{
    margin: 12px 0px 0px 9px;
    color: #ffffff;
    padding: 5px 7px;
    font: 0.9rem 'Franklin Gothic Medium', 'Arial Narrow';
}
.arrow{
    width: 160px;
    height: 52px;
    position: absolute;
    border-radius: 40px;
    cursor: pointer;
    transition: all 1s;
}
.arrow:hover{
    margin-left: 15px;

}
.online{
    width: 32px;
    height: 29px;
    color: #000000;
    border-radius: 30px;
    padding: 3px;
    margin: 10px 0px 0px 105px;
    background-color: #ffffff;
}
main{
    width: 1342px;
    height: 650px;
    background-color: #0c0c0c;
    border-top: 1px solid #302f2f;
}
h2{
    color: #ffffff;
    font: 2.5rem poppin;
    text-align: center;
    padding-top: 40px;
}
form{
    width: 1142px;
    height: 500px;
    margin: 40px 110px;
}
.one{
    width: 1142px;
    height: 80px;
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
}
label{
    font: 1rem 'Segoe UI';
    color: #d1cfcf;
}
input[type=text] {
    width: 550px;
    height: 45px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    background-size:19px;
    background-color: white;
    background-image: url('download.png');
    background-position: 513px 12px; 
    background-repeat: no-repeat;
    padding: 0px 45px 0px 17px;
    outline: none;
}
input[type=text]:focus {
    border: 3px solid rgb(248, 66, 66);
}
input[type=email] {
    width: 550px;
    height: 45px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    background-size:19px;
    background-color: white;
    background-image: url('download.png');
    background-position: 513px 12px; 
    background-repeat: no-repeat;
    padding: 0px 45px 0px 17px;
    outline: none;
}
input[type=email]:focus {
    border: 3px solid rgb(248, 66, 66);
}
input[type=number] {
    width: 550px;
    height: 45px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    background-size:19px;
    background-color: white;
    background-image: url('download.png');
    background-position: 513px 12px; 
    background-repeat: no-repeat;
    padding: 0px 45px 0px 17px;
    outline: none;
}
input[type=number]:focus {
    border: 3px solid rgb(248, 66, 66);
}
select {
    width: 550px;
    height: 45px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    color:#5f5e5e;
    font: 1rem 'Segoe UI'; 
    background-color: white;
    padding-left: 17px;
    outline: none;
}
select:focus {
    border: 3px solid rgb(248, 66, 66);
}
option{
    font: 1rem 'Segoe UI';    
}
.sub{
    width: 170px;
    height: 50px;
    border-radius: 40px;
    font: 0.9rem Verdana;
    color: #fff;
    padding: 15px 56px;
    transition: all 1s;
    letter-spacing: 1px;
    margin-top: 20px;
    border: 1px solid #eeb710;
    background-color: #eeb710;
}
.sub:hover{
    border: 1px solid #fff;
    background-color: #000000;
    color: #fff;
}
footer{
    width: 1341px;
    height: 600px;
    padding-top: 70px;
    background-color: #131111;
}
.footer{
    width: 1140px;
    height: 480px;
    display: flex;
    margin: 0px 100px;
    justify-content: space-between;
}
.footer-detail{
    width: 400px;
    height: 350px;
}
.imaag{
    width: 180px;
    height: 127px;
    overflow: hidden;  
    margin: -50px 0px 0px 0px;
}
.image{
    width: 165px;
    height: 76px;
}
.footer-detail, p{
    font:500 1rem 'Segoe UI';
    color: #c4c1c1;
    text-align: start;
    margin-top: 20px;
}
.privicy{
    width: 270px;
    font:500 1rem 'Segoe UI';
    display: flex;
    justify-content: space-between;
    color: #c4c1c1;
}
.term, .policy{
    cursor: pointer;
}
.tags{
    width: 200px;
    height: 350px;
}
.site{
    font: bold 1.2rem poppin;
    color: #fff;
}
.home{
    font:500 1rem 'Segoe UI';
    color: #c4c1c1;
    cursor: pointer;
    margin-top: 15px;
}
.about{
    font:500 1rem 'Segoe UI';
    color: #c4c1c1;
    cursor: pointer;
    margin-top: 15px;
}
.public{
    font:500 1rem 'Segoe UI';
    color: #c4c1c1;
    cursor: pointer;
    margin-top: 15px;
}
.geta{
    font:500 1rem 'Segoe UI';
    color: #c4c1c1;
    cursor: pointer;
    margin-top: 15px;
}
.feed{
    font:500 1rem 'Segoe UI';
    color: #c4c1c1;
    cursor: pointer;
    margin-top: 15px;
}
.contact{
    width: 200px;
    height: 400px;
}
.head{
    font: bold 1.1rem sans-serif;
    color: #eceaea;
    padding-top: 17px;
}
.number{
    font:500 1rem 'Segoe UI';
    color: #c4c1c1;
    cursor: pointer;
    margin-top: 10px;
}
.follow{
    width: 200px;
    height: 300px;
    text-align: center;
}
.icons{
    width: 150px;
    height: 50px;
    display: flex;
    margin: 20px 0px 0px 60px;
    justify-content: space-between;
}
.face{
    width: 40px;
    height: 40px;
    color: #fff;
    padding: 11px 14px;
    cursor: pointer;
    font: bold 1.1rem sans-serif;
    border-radius: 30px;
    transition: all 1s;
    background-color: #fc2340;
}
.face:hover{
    background-color:#fff;
    color: #fc2340;
}
.insta{
    width: 40px;
    height: 40px;
    color: #fff;
    padding: 9px 11px;
    cursor: pointer;
    font: bold 1.3rem sans-serif;
    border-radius: 30px;
    transition: all 1s;
    background-color: #fc2340;
}
.insta:hover{
    background-color:#fff;
    color: #fc2340;
}
.twitter{
    width: 40px;
    height: 40px;
    color: #fff;
    padding: 10px 11px;
    cursor: pointer;
    font: bold 1.3rem sans-serif;
    border-radius: 30px;
    transition: all 1s;
    background-color: #fc2340;
}
.twitter:hover{
    background-color:#fff;
    color: #fc2340;
}
.app{
    margin: 20px 0px 0px 20px;
}
.printed{
    width: 1341px;
    height: 50px;
    display: flex;
    margin-top: 40px;
    padding-top: 18px;
    color: #fff;
    font-size: 1.1rem ;
    justify-content: space-around;
    background-color: #000000;
}